body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.block {
    background-color: blue;
    height: auto;
    width: auto;
    flex:1;
}

.container {
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 300px;
}

.row {
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
}

button {
    font-size: 24px;
    padding: 4px;
    margin: 10px;
    border: 4px solid black;
}